<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>ASCII.FONT</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>24832</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>BACK</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>BACK.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>HELLO</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>HELLO.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>KOTALA</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>N</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>N.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>OBITUARY</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>SHIRE</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>SHIRE.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>SPEEDOS</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>24576</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>THE INN</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>THEINN.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>TITLE PAGE</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>UTE</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>WENDA</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>WHASISNAME</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
</array>
</plist>
