<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>AWAY</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>CHAR DESC</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>CHAR INFO</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>DESC.INFO</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>EFFECTS</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>FILE BLANKER</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>FILE BLANKER.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>FILE EDIT</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>FILE EDIT.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>FILE READER</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>FILE READER.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>GO</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>HELLO</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>HELLO.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>OBJ DESC</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>OBJ INFO</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>65</integer>
		<key>Filename</key>
		<string>PARSER</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>PARSER.TXT</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>PLAYER</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>PLAYER3</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>REGNUM</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>ROOM DESC</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>ROOM INFO</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>SPEEDOS</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>24576</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>XTR.VRBLS</string>
		<key>MacFormat</key>
		<integer>2</integer>
		<key>StartingAddress</key>
		<integer>16384</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
</array>
</plist>
